<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Estudiantes</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button type="button" class="btn btn-sm btn-outline-info dropdown-toggle" data-bs-toggle="modal" data-bs-target="#modalSolicitud">
        <span data-feather="calendar"></span>
        Agregar solicitud
      </button>
    </div>
  </div>

  <app-dynamic-table [registres]="students" [headers]="columnsHeaders"></app-dynamic-table>
  <app-modal (saveStudent)="addStudent($event)"></app-modal>